<!DOCTYPE HTML>
<html>
    <head>
    	<title> Add Activity </title>
    	<meta charset="utf-8"/>
    	<meta name="author" content="Team 5"/>
    	<meta name="description" content="Web application for maintenance activies."/>
    	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <style>
            a{
              text-decoration: none;
              color: black;
            }
            a:visited{
              color: black;
            }
            input{
              width: 200px;
            }
        </style>    
    </head>
    <body>
        <div class="row">
            <div class="header" >
                <p>
                  <a href="plannerview.html"><img border="0" src="return.png" width="70" height="70"> </a>
                </p>
            </div>
            <div class="header" >
                <h1> Activity Management </h1>
            </div> 
            <div class="header">
              <p>
                <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
              </p>  
            </div> 
        </div> 
        <div class="column" style="text-align: center;">
            <form method="post" name="addactivity" >
            <fieldset>
              <legend><h2>Add Activity</h2></legend>

              <br>
              <fieldset>
              <br>
              <p>
                  <template id="sites-row-template">
                      <option value="{Branch} - {Department}">{Branch} - {Department}</option>
                  </template>
                  <label for="sites-rows">
                  	Area: <select  name="type" id="sites-rows">

                          </select>
                  </label>

              </p>
              <br>

              </fieldset>
              <br>
               <p>
                <template id="typology-row-template"><option value="{Description}">{Description}</option></template>
                  <label for="typology-rows">
                  	Type: <select name="type" id="typology-rows" >
                  </select>
                  </label>
              </p>
              <br>
              <p> 
                <label for="description">
                  Description: <textarea id="description"></textarea>
                </label>
              </p>
              <br>
              <p> 
                <label for="time">
                  Estimated Intervention Time: <input placeholder="hh:mm:ss"id="time" type="text" name="time" required/>
                </label>
              </p>
              <br>
             <p>
                <template id="materials-row-template"><option value="{Material}">{Material}</option></template>
                  <label for="materials-rows">
                  	Material: <select multiple name="type" id="materials-rows">
                  </select>
                  </label>
              </p>
              <br>
              <p> 
                <label for="yes_no_radio">
                    <p>
                  Interruptible Activity: 
                  <input type="radio" name="yes_no" value="Yes" id="interruptible" checked>Yes</input>
                  <input type="radio" name="yes_no" value="No" id="interruptible">No</input>
                  </p>
                </label>
              </p>
              <br>
              <p> 
                <label for="week">
                  Week: <select name="week" id="week">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                  </select>
                </label>
              </p>
              <br>
                
            </fieldset>
            <p>
                <button onclick="addActivity()">Add</button>
            </p>
        </form>
        </div>
        <div class="footer">
          <h2>Team 5</h2>
        </div>  
    </body>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="../controllers/loader.js"></script>
    <script type="text/javascript" src="../controllers/saver.js"></script>

     <script type="application/javascript">
      $(document).ready(function(){
        loadMaterials();
        loadSites();
        loadTypology();
      });
    </script>

</html>
