<!DOCTYPE HTML>
<html>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="../controllers/saver.js"></script>

    <head>
    	<title> Add Material </title>
    	<meta charset="utf-8"/>
    	<meta name="author" content="Team 5"/>
    	<meta name="description" content="Web application for maintenance activies."/>
    	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
        <style>
            a{
              text-decoration: none;
              color: black;
            }
            a:visited{
              color: black;
            }
        </style>    
    </head>
    <body>
        <div class="row">
            <div class="header" >
                <p>
                  <a href="managedb.html"><img border="0" src="return.png" width="70" height="70"> </a>
                </p>
            </div>
            <div class="header" >
                <h1> Materials Management </h1>
            </div> 
            <div class="header">
              <p>
                <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
              </p>  
            </div> 
        </div>    
        <div class="column" style="text-align: center;">
            <fieldset>
                <legend><h2>Add material</h2></legend>
                <p>
                    <label for="new-material">
                        New Material: <input id = "new-material" type="text" name="material" required/>
                    </label>
                </p>
                <p>
                    <button onclick="addMaterial()">Save</button>
                </p>
            </fieldset>
        </div>
        <div class="footer">
          <h2>Team 5</h2>
        </div>  
    </body>
</html>