<!DOCTYPE HTML>
<html>
    <head>
    	<title> Management Area </title>
    	<meta charset="utf-8"/>
    	<meta name="author" content="Team 5"/>
    	<meta name="description" content="Web application for maintenance activies."/>
    	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="header" >
            </div>
        	<div class="header">
        		<h1> Welcome to the Management Area </h1>
                <!--The system must allow a System Administrator to manage (create, view, modify or delete) a list of competences related to a specific task.  
                The system must allow to manage (create, view, modify or delete) areas, which are composed of factory views (branch offices) and area or department (inside the factory).
                The system must allow to manage (create, view, modify or delete) a list of materials, to be used during the maintenance activity. 
                The system must allow to manage (create, view, modify or delete) a list of Maintenance procedures. 
                For each Maintenance Procedure, the system must allow to assign the specific competencies required to perform the maintenance activity. 
                The system must allow to manage (create, view, modify or delete) maintenance typologies   
                     as Electrical, electronic, hydraulic, mechanical. 
                -->
            </div>
            <div class="header" >  
                <p>
                    <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
                </p>  
            </div>
        </div>    
        <div class="topnav">
            <a href="skills.html">Skills</a>
            <a href="sites.html">Sites</a>
            <a href="typology.html">Maintenance Typology</a>
            <a href="materials.html">Materials</a>
            <a href="procedures.html">Procedures</a>
            <a style="float: right;" href="usermanagement.html">Users Management</a>
        </div>
        <div class="column">
            <h1>Select from the top navigation bar.</h1>
        </div>
            <div class="footer" style="position: absolute;">
                <h2>Team 5</h2>
            </div>
    </body>
</html>