<!DOCTYPE HTML>
<html>
    <head>
    	<title> Select Maintenance Activity </title>
    	<meta charset="utf-8"/>
    	<meta name="author" content="Team 5"/>
    	<meta name="description" content="Web application for maintenance activies."/>
    	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            a{
              text-decoration: none;
              color: black;
            }
            a:visited{
              color: black;
            }
            .btn{
              background-color: #3bb0bb;
              border-color:white; 
            }
            .row{
                margin-left: 0px; 
                margin-right: 0px;
            }
        </style>
    </head>
    <body>
      <div class="row">
        <div class="header">
          <p>
            <a href="plannerview.html"><img border="0" src="return.png" width="70" height="70"> </a>
          </p>
        </div>
        <div class="header">
          <h1> Planned Activities </h1>
        </div>
        <div class="header">
          <p>
            <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
          </p>
        </div>
      </div>
      <div class="column" style="text-align: center;">
          <template id="week-template"><option value='{Week}'>{Week}</option></template>
          <label for="week-select">
            Week: <select id="week-select" name="week" onChange="loadPlanned(this.options[this.selectedIndex].value)">
                  </select>
          </label>
        <table id="activities">
          <thead>
            <tr>
              <th>ID</th>
              <th>Area</th>
              <th>Type</th>
              <th>Estimated Intervention Time</th>
              <th style="text-align: center;"><h3>Select</h3></th>
              <th style="text-align: center;"><h3>Edit</h3></th>
            </tr>
            <template id="activities-row-template">
            <tr>
              <td>{ID}</td>
              <td>{Area}</td>
              <td>{Type}</td>
              <td>{EstimatedTime}</td>
              <td style="text-align:center;">
                  <a href="selected.html" > <input type="button" onclick="passId();" value="select" name="select" style="margin: 10px; width: 100px; height: 50px;"></a>
              </td>
              <td style="text-align:center;">
                <a href="updateactivity.html" onclick="passId();" class="btn btn-success btn-lg">
                  <span class="glyphicon glyphicon-edit"></span>  
                </a>
              </td>
            </tr>
            </template>
          </thead>
          <tbody id="activities-rows">

          </tbody>
        </table>
        <br>
        <a href="addactivity.html" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-plus-sign"></span> Add
            </a>
      </div>
      <div class="footer">
        <h2>Team 5</h2>
      </div>
     <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="../controllers/loader.js"></script>

    <script type="application/javascript">
      $(document).ready(function() {
        loadWeeks();
      });

      function passId() {
        $('#activities').find('tr').click( function(){
          let id = document.getElementById("activities").rows[$(this).index()+1].cells[0].innerHTML;
          localStorage.setItem("id", id);
        });
      };

      
    </script>
    </body>
</html>
