<!DOCTYPE HTML>
<html>
    <head>
    	<title> Maintenance Activities </title>
    	<meta charset="utf-8"/>
    	<meta name="author" content="Team 5"/>
    	<meta name="description" content="Web application for maintenance activies."/>
    	<link rel="stylesheet" type="text/css" href="stylesheet.css"/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
      <style>
            a{
              text-decoration: none;
              color: black;
            }
            a:visited{
              color: black;
            }
        </style> 
    </head>
    <body>
      <div class="row">
        <div class="header">
        </div>
        <div class="header">
          <h1> Maintenance Activities </h1>
        </div> 
        <div class="header">
          <p>
            <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
          </p> 
        </div> 
      </div> 
      <div class="column" style="text-align: center;">
        <table>
          <tr>
            <th><h3>Maintenance Activities</h3></th>
          </tr>
          <tr>
            <td><a href="plannedactivities.html">Planned Activities</a></td>
          </tr>
          <tr>
            <td><a href="#">Un-Planned Activities</a></td>
          </tr>
          <tr>
            <td><a href="#">Extra Activities</a></td>
          </tr>
        </table>
      </div>  
      <div class="footer" style="position: absolute;">
        <h2>Team 5</h2>
      </div>
    </body>
</html>      