<!DOCTYPE HTML>
<html>
    <head>
      <title> Skills Assignment </title>
      <meta charset="utf-8"/>
      <meta name="author" content="Team 5"/>
      <meta name="description" content="Web application for maintenance activies."/>
      <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
         <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
      <style type="text/css">
        a{
          text-decoration: none;
          color: black;
      }
      a:visited{
        color: black;
      }
      </style>
    </head>
    <body>
      <div class="row">
            <div class="header" >
                <p>
                  <a href="managedb.html"><img border="0" src="return.png" width="70" height="70"> </a>
                </p>
            </div>
            <div class="header" >
                <h1> Skills Assignment</h1>
            </div> 
            <div class="header">
              <p>
                <a href="index.html"><img border="0" src="exit.png" width="70" height="70"> </a>
              </p>  
            </div> 
      </div>   
      <div class="column" style="text-align: center;">
        <form class="modal-content" >
          <h1>Skill Assignment</h1>
            <fieldset>
              <div class="container">
                <p>Select the skills you want to assign to a Mantainer.</p>
                <hr>
                <p>
                  <label for="skill"><b>Skills: </b></label>
                  <select name="skill" id="skill" multiple="">
                    <option value="skill1">skill1</option>
                    <option value="skill2">skill2</option>
                  </select>
                </p>
                <button onclick="assignSkill();">Save</button>
              </div>
            </fieldset>
        </form>
      </div>  
      <div class="footer" style="position: absolute;">
        <h2>Team 5</h2>
      </div>

      <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

      <!-- Custom JS -->
      <script type="text/javascript" src="../controllers/saver.js"></script>


    <script type="text/javascript">
        function reload(){
            window.location.replace('usermanagement.html');
        }    
    </script>
    </body>
</html>    